<div class="container">
    <button class="btn btn-primary" (click)="getCurrentDate()">click me</button><br>

    {{currerntDate | date}}

</div>

<div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{version}}</p>
    </div>
    <div class="col-3">
        <p>{{currerntDate}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input [type]="inputType">
    </div>
</div>